{% extends "base.html" %}
{% load static %}
{% block title %}
  Об авторе проекта
{% endblock %}
{% block content %}  
  <div class="row">
    <h1>
      Привет, я автор, а зовут меня Михаил
    </h1>
    <h3 >
      Коротко о себе
    </h3>
    <p>
      По образованию - иженер-экономист, по профессии - промышленнй альпинист. 
        Поcле 10 лет труда в рамках одного ремесла я узнал, что такое профессиональное
          выгорание и решил кардинально сменить род деятельности. Выбор пал на 
            <span style="color:blue"> Phyton</span>, 
              ибо он является максимально удобной точкой вхождения в мир программирования, 
                попробовать себя в котором планировал уже очень давно.
                  Питон изучаю третий месяц, сворачивать с этого пути не планирую.
    </p>
    <h3>
      Коротко о помощнике
    </h3>
    <p>
      Ниже ращмещено изображение тотемного животного, которое
        <s>постоянно отвлекало</s> оказывало посильную помощь в освоении материала.
    </p>
  </div>
    <img src="{% static 'img/cat.jpg' %}" >
{% endblock %} 